* {
  padding: 0;
  margin: 0;
}

.container {
  width: 360px;
  height: 520px;
  /* text-align: center; */
  /* color: white; */
  background-color: black;
  border: 1px solid red;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}

#result-display-contain {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 20px 0px;
}

#input-display-contain {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 20px 0px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  margin: 5px 4px;
  height: 60px;
  width: 90px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #464545;
  border: 0;
  color: white;
  font-weight: bold;
}

.diffs {
  background-color: #a2a2a2;
}
